.main {
  /* flex: 1; Takes up the remaining space after the navbar */
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 20px; Adjust as needed */
  margin-left: 130px;
}

.individual-page-navbar {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* gap: 10px;/ */
  padding-left: 15px;
  /* border: 0.5px solid #888; */
  width: 100%;
}

.individual-page-nav-button {
  width: 150px;
}
