.main-nav-bar {
    position: fixed;  /* Stick the navbar to the left */
    width: 130px; /* Set a fixed width */
    height: 100%; /* Extend to the full height of the viewport */
    background-color: #f8f8f8; /* Light grey background */
    border-right: 2px solid #ccc; /* Grey border on the right */
    padding: 20px 12px; /* Padding around the links */
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically to the center */
    gap: 20px;  /* Adjust gap size for spacing between items */
    height: 100%;
}

.nav-button {
    color: black;
    width: 100px;
    font-size: 15px;
    border: 1px solid #888;
}

.login-button-container {
    position: absolute;
    bottom: 20px;
}
  